<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="container-xxl">

                <div class="row content">
                    <h3>Shopping Cart.</h3>
                    <div class="col-left">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col" style="text-align: center;">Total Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row"> <img src="/images/NIK21904_1000_3 2.png" alt="">
                                        <div class="col text">
                                            <p class="name">Nael D Roger</p>
                                            <p class="brand">Nike</p>
                                        </div>
                                    </th>
                                    <td> <select class="form-select form-select-sm"
                                            aria-label=".form-select-sm example">
                                            <option selected>41</option>
                                            <option value="1">40</option>
                                            <option value="2">39</option>
                                            <option value="3">38</option>
                                            <option value="4">37</option>
                                            <option value="5">36</option>
                                        </select></td>
                                    <td>
                                        <div class="input-group w-auto align-items-center">
                                            <input class="button button-minus" type="button" value="-"
                                                data-field="quantity">
                                            <p>1</p>
                                            <input class="button butoon-plus" type="button" value="+"
                                                data-field="quantity">
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p>$ 470.99</p>
                                    </td>
                                    <td>
                                        <div class="col remove">
                                            <button type="button" class="btn">
                                                <img style="width: 13.13px; height: 13.13px;"
                                                    src="/images/Group 48 (1).png" alt=""></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="/images/NIK21904_1000_3 2 (1).png" alt="">
                                        <div class="col text">
                                            <p class="name">Nael D Roger</p>
                                            <p class="brand">Nike</p>
                                        </div>
                                    </th>
                                    <td> <select class="form-select form-select-sm"
                                            aria-label=".form-select-sm example">
                                            <option selected>41</option>
                                            <option value="1">40</option>
                                            <option value="2">39</option>
                                            <option value="3">38</option>
                                            <option value="4">37</option>
                                            <option value="5">36</option>
                                        </select></td>
                                    <td>
                                        <div class="input-group w-auto align-items-center">
                                            <input class="button button-minus" type="button" value="-"
                                                data-field="quantity">
                                            <p>1</p>
                                            <input class="button butoon-plus" type="button" value="+"
                                                data-field="quantity">
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p>$ 470.99</p>
                                    </td>
                                    <td>
                                        <div class="col remove">
                                            <button type="button" class="btn">
                                                <img style="width: 13.13px; height: 13.13px;"
                                                    src="/images/Group 48 (1).png" alt=""></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="/images/NIK21904_1000_3 2 (2).png" alt="">
                                        <div class="col text">
                                            <p class="name">Nael D Roger</p>
                                            <p class="brand">Nike</p>
                                        </div>
                                    </th>
                                    <td> <select class="form-select form-select-sm"
                                            aria-label=".form-select-sm example">
                                            <option selected>41</option>
                                            <option value="1">40</option>
                                            <option value="2">39</option>
                                            <option value="3">38</option>
                                            <option value="4">37</option>
                                            <option value="5">36</option>
                                        </select></td>
                                    <td>
                                        <div class="input-group w-auto align-items-center">
                                            <input class="button button-minus" type="button" value="-"
                                                data-field="quantity">
                                            <p>1</p>
                                            <input class="button butoon-plus" type="button" value="+"
                                                data-field="quantity">
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p>$ 470.99</p>
                                    </td>
                                    <td>
                                        <div class="col remove">
                                            <button type="button" class="btn">
                                                <img style="width: 13.13px; height: 13.13px;"
                                                    src="/images/Group 48 (1).png" alt=""></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row"><img src="/images/NIK21904_1000_3 2 (3).png" alt="">
                                        <div class="col text">
                                            <p class="name">Nael D Roger</p>
                                            <p class="brand">Nike</p>
                                        </div>
                                    </th>
                                    <td> <select class="form-select form-select-sm"
                                            aria-label=".form-select-sm example">
                                            <option selected>41</option>
                                            <option value="1">40</option>
                                            <option value="2">39</option>
                                            <option value="3">38</option>
                                            <option value="4">37</option>
                                            <option value="5">36</option>
                                        </select></td>
                                    <td>
                                        <div class="input-group w-auto align-items-center">
                                            <input class="button button-minus" type="button" value="-"
                                                data-field="quantity">
                                            <p>1</p>
                                            <input class="button butoon-plus" type="button" value="+"
                                                data-field="quantity">
                                        </div>
                                    </td>
                                    <td class="price">
                                        <p>$ 470.99</p>
                                    </td>
                                    <td>
                                        <div class="col remove">
                                            <button type="button" class="btn">
                                                <img style="width: 13.13px; height: 13.13px;"
                                                    src="/images/Group 48 (1).png" alt=""></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>




                        <div class="col last-price">
                            <div class="row">
                                <h5>Subtotal: </h5>
                                <p>$ 470.99</p>
                            </div>
                            <div class="row">
                                <h5>Shipping: </h5>
                                <p>Free</p>
                            </div>
                            <div class="row total">
                                <p>Total: </p>
                                <p>$ 470.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-right">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">Payment info.</h3>
                                <h5>Payment method:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option1">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Paypal
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios"
                                        id="exampleRadios1" value="option2">
                                    <label class="form-check-label" for="exampleRadios1">
                                        Credit Card
                                    </label>
                                </div>
                                <h5>Name on card:</h5>
                                <p>Nael D Roger</p>
                                <h5>Card number:</h5>
                                <p>•••• •••• •••• 1234</p>
                                <div class="d-flex">
                                    <h5>Expiration date:</h5>
                                    <h5 style="margin-left: 103.4px;">CVV</h5>
                                </div>
                                <div style="margin-top: 12.27px;"
                                    class="d-flex justify-content-start align-content-center">
                                    <select style="padding-left: 0;" class="form-select form-select-sm"
                                        aria-label=".form-select-sm example">
                                        <option selected>05</option>
                                    </select>
                                    <select style="padding-left: 0;" class="form-select form-select-sm"
                                        aria-label=".form-select-sm example">
                                        <option selected>2034</option>
                                    </select>
                                    <p style="font-weight: 400; margin: 0; padding-left: 90.2px;">187</p>
                                </div>

                            </div>
                            <a href="#" class="btn btn-primary">Check Out</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                        <img src="/images/Vector 11 (Stroke).png"><a href="#">Continue Shopping</a>
                    </div>

                </div>
            </main>

            <%- include('../includes/end.ejs') %>