<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/details.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="container-xxl">

        <div class="row">
            <div class="col-xxl-3">

                <div class="col-md-12">
                    <div class="card">
                        <div class="row g-0 justify-content-start">
                            <div class="card-title text-uppercase">
                                <span>Nike -</span>
                            </div>
                            <div class="card-body">
                                <p class="col-md-12 card-text main text-uppercase">NIKE ZOOMX
                                    VAPORFLY NEXT</p>
                                <p class="col-md-12 card-text secondary text-lowercase">RUNNING sneakers with thin
                                    elastic laces
                                </p>
                                <div class="d-flex align-items-start justify-content-start">
                                    <ul class="list-inline">
                                        <li class="list-inline-item mb-1">
                                            <img src="/images/NIK21699_1000_3 2.png" alt="">
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <img src="/images/NIK21699_1000_2.png" alt="">
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <img src="/images/NIK21699_1000_5.png" alt="">
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <img src="/images/NIK21699_1000_8.png" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-6">

                <div class="card">
                    <div class="row">
                        <div class="col-sm-12 big-pic">
                            <img src="/images/NIK2.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3">

                <div class="card">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-body">
                                <h5 class="card-title"></h5>
                                <h5 class="text-uppercase">Size</h5>
                                <div class="d-flex align-items-start justify-content-start">
                                    <ul class="list-inline">
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="size-active">37</button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="size">38</button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="size">39</button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="size">40</button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="size">41</button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="reviews text-uppercase">
                                    <div class="d-block">
                                        <ul class="list">
                                            <li class="d-flex justify-content-between">
                                                <h5>reviews</h5>
                                                <div class="rating">
                                                    <input type="radio" id="star5" name="rating" value="5">
                                                    <label for="star5"></label>
                                                    <input type="radio" id="star4" name="rating" value="4">
                                                    <label for="star4"></label>
                                                    <input type="radio" id="star3" name="rating" value="3">
                                                    <label for="star3"></label>
                                                    <input type="radio" id="star2" name="rating" value="2">
                                                    <label for="star2"></label>
                                                    <input type="radio" id="star1" name="rating" value="1">
                                                    <label for="star1"></label>
                                                </div>
                                            </li>
                                            <li class="d-flex justify-content-between">
                                                <h5>price</h5>
                                                <span class="number">$224.95</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <h5 class="text-uppercase">Color</h5>
                                <div class="d-flex align-items-start justify-content-start">
                                    <ul class="list-inline">
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="color"
                                                style="background-color: #222222;"></button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="color"
                                                style="background-color: #00FF47;"></button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="color"
                                                style="background-color: #FF6B00;"></button>
                                        </li>
                                        <li class="list-inline-item mb-1">
                                            <button type="button" class="color"
                                                style="background-color: #157ABB;"></button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </main>

    <%- include('../includes/end.ejs') %>